.card-notices {
  display: inline-block;
  text-align: center;
  margin: 30px;
}

a {
  font-size: 0.7em;
  text-decoration: inherit;
  color: inherit;
  background-color: honeydew;
  border-radius: 20px;
  padding: 5px;
  transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out, padding 0.4s ease-in-out;
}

a:hover {
  padding: 10px;
  font-size: 0.8em;
  transform: scale(1.2);
}
