<div class="main-content">
  <app-menu-bar></app-menu-bar>
  <div>
    <h1>Articles</h1>
    <div class="banners">
      <app-card-notices
      id="0"
      title_banner="The Art of Pixar's UP"
      image_banner="../../../assets/up-movie.jpg">
      </app-card-notices>
      <app-card-notices
      id="1"
      title_banner="Shrek's Movie"
      image_banner="../../../assets/shrek.jpg">
      </app-card-notices>
      <app-card-notices
      id="2"
      title_banner="Hercules"
      image_banner="../../../assets/hercules.jpg">
      </app-card-notices>
      <app-card-notices
      id="3"
      title_banner="The Iron Giant"
      image_banner="../../../assets/iron-giant.jpeg">
      </app-card-notices>
    </div>
  </div>
</div>
