<div class="content-main">
  <h1>{{titleBanner}}</h1>
  <section *ngFor="let i of personField">
    <img [src]="i.url" [width]="i.w" [height]="i.h">
    <p>{{personInformations}}</p>
  </section>
</div>
<app-field-main-content
  [titleBanner]="'Jedi Academy'"
  [fieldContent]="'I can\'t get involved! I\'ve got work to do! It\'s not that I like the Empire, I hate it, but there\'s nothing I can do about it right now. It\'s such a long way from here. Alderaan? I\'m not going to Alderaan. I\'ve got to go home. It\'s late, I\'m in for it as it is. Still, she\'s got a lot of spirit. I don\'t know, what do you think? As you wish. I can\'t get involved! I\'ve got work to do! It\'s not that I like the Empire. I hate it, but there\'s nothing I can do about it right now. It\'s such a long way from here.'"
  [imageContent]="[
    {
      url: '../../../assets/up-movie.jpg',
      w: '500',
      h: '250',
      alt: 'Art of Up movie with old man and child walk in a forest',
    }
  ]"
>
</app-field-main-content>
