.content-main {
  background-image: url("../../../assets/pink-clouds.jpg");
  background-repeat: round;
  width: 79.5vw;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  font-weight: lighter;
}

.content-main h1 {
  font-weight: lighter;
  font-size: 3.5em;
}

.content-main section {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: medium;
  margin: 10px 0 40px 0;
}

.content-main p {
  margin-left: 10px;
}

.content-main img {
  border-radius: 100%;
}