<main class="main-content">
  <app-menu-bar></app-menu-bar>
  <section class="field-content">
    <article>
      <h1>About Us</h1>
      <p>This is a project made with AngularJS & TypeScript, aiming to apply my knowledge obtained in language studies. The page simulates a Blog that presents synopses of some films. The Page uses page route mapping to travel between the home page, the articles page, about us, and other links about me and my social networks.</p>
      <p>The design was inspired by a dribbble project:</p>
      <img src="../../../assets/idea-reference.png" width="600" height="400" alt="Dribbble image reference">
    </article>
    <h2><a [routerLink]="['/']">Voltar</a></h2>
  </section>
</main>
