.main-content {
  display: flex;
  flex-direction: row;
}
.main-content div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-notices {
  background-image: url("../../../assets/pink-clouds.jpg");
  background-repeat: round;
  width: 75.7vw;
  height: 370px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  color: whitesmoke;
  font-weight: lighter;
}

.card-notices h1 {
  font-weight: lighter;
  font-size: 3.5em;
}

.card-notices section {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  font-size: medium;
  margin: 10px 0 40px 0;
}

.card-notices p {
  margin-left: 10px;
}

.card-notices img {
  border-radius: 100%;
}

.content {
  display: flex;
  justify-content: center;
}

section {
  width: min-content;
  margin: 20px;
}

section h2 {
  color: black;
  margin-bottom: 20px;
  font-size: 17px;
}

section p {
  font-size: 17px;
  line-height: 1.3;
}

a {
  font-size: 20px;
  text-decoration: inherit;
  color: inherit;
  background-color: lightgrey;
  border-radius: 10px 10px;
  padding: 5px;
  transition: transform 0.3s ease-in-out, padding 0.3s ease-in-out;
}

a:hover {
  transition: scale(1.2);
  padding: 10px;
}